<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{page_title}</title>
</head>

<body>
	<div id="main">
	<h1>{page_title}</h1>


<!-- Main page content -->
<h2>Template Includes</h2>
Include other templates using the following code:
<code>
{INCLUDE: included_template}{/INCLUDE}
</code>

<h2>Basic Output</h2>
Output basic template vars like so:
<code>
{IGNORE}{BASIC_TEMPLATE_VAR}
</code>

<h2>Conditions</h2>
Conditional statements can be used in templates using the following syntax:
<code>
{IF: condition}  code {/IF}
</code>

Below is a conditional statement with the SHOW_TIME variable, you should see the time.
<?php if ($vars['SHOW_TIME']): ?>Current Time: <?php echo isset($vars['TIME']) ? $vars['TIME'] : '' ?><?php endif; ?>


<h2>Template Loops</h2>
Template loops are used to iterate over several records using the following syntax:
<code>
{LOOP: loop_name} loop content {loop_name.LOOP_VARIABLE} {/LOOP: loop_name}
</code>

Below is a loop of our users listing them out.
It also makes use of the magic loop variables 'IS_FIRST_ROW', 'IS_LAST_ROW', 'IS_ODD_ROW', 'IS_EVEN_ROW'

<?php if ($vars['SHOW_USERS']): ?>
	<h3>Loops</h3>
	<table style="margin-left: 150px">
		<tr>
			<td>ID</td> <td>Name</td> <td>Age</td> <td>Comments</td>
		</tr>

	
		<?php if(isset($vars['users']) && is_array($vars['users'])):
			$users_loop_count = count($vars['users']);
			foreach($vars['users'] as $users_loop_index => $users_loop):
				$users_loop['IS_FIRST_ROW'] = ($users_loop_index === 0) ? true : false;
				$users_loop['IS_ODD_ROW'] = ($users_loop_index % 2 === 0) ? true : false;
				$users_loop['IS_EVEN_ROW'] = $users_loop['IS_ODD_ROW'] ? false : true;
				$users_loop['IS_LAST_ROW'] = ($users_loop_index === $users_loop_count - 1) ? true : false;
		?>
		<tr>
			<td><?php echo isset($users_loop['ID']) ? $users_loop['ID'] : '' ?></td> <td><?php echo isset($users_loop['NAME']) ? $users_loop['NAME'] : '' ?></td> <td><?php echo isset($users_loop['AGE']) ? $users_loop['AGE'] : '' ?></td>
			<td>
			<?php if ($user_loop['IS_FIRST_ROW']): ?>First user.<?php elseif ($user_loop['IS_LAST_ROW']): ?>Last user.<?php endif; ?>
			<?php if ($user_loop['IS_EVEN_ROW']): ?> Even Row<?php else: ?> Odd Row<?php endif; ?>
		</tr>
	<?php endforeach; unset($users_loop_count); endif; ?>

	</table>
<?php endif; ?>

<br><br>
<h2>Namespaced/Nested Template Vars</h2>
Template variables can be namespaced for seperation. For example:
<code>{NAMESPACE:VARIABLE}</code>

Below we our outputting our CURRENT_USER variables.
<div>
Current User ID: <?php echo isset($vars['CURRENT_USER']['ID']) ? $vars['CURRENT_USER']['ID'] : '' ?> <br>
Current User Name: <?php echo isset($vars['CURRENT_USER']['NAME']) ? $vars['CURRENT_USER']['NAME'] : '' ?> <br>
User Role: <?php echo isset($vars['CURRENT_USER']['ROLE']) ? $vars['CURRENT_USER']['ROLE'] : '' ?><br>
Current User Session (nested twice): Session <?php echo isset($vars['CURRENT_USER']['SESSION']['ID']) ? $vars['CURRENT_USER']['SESSION']['ID'] : '' ?> started at <?php echo isset($vars['CURRENT_USER']['SESSION']['START']) ? $vars['CURRENT_USER']['SESSION']['START'] : '' ?><br>
</div>

<h3>PHP Constants</h3>
PHP and defined Constants can be directly outputted in the template by prepending them with "C:" like so:
<code>{C:CONSTANT}</code>
Our MY_SITE_NAME constant set in index.php: <?php if(defined('MY_SITE_NAME')): echo MY_SITE_NAME; endif; ?> <br>

<h3>Ignore Blocks</h3>
Ignore blocks can be defined so they are not parsed. This is useful when using similar structures to the template syntax. <br>

Even though this template var exists, it is ignored: {PAGE_TITLE}
<br>
Second ignore block displaying an unparsed condition: {IF: not SHOW_USERS}No users{/IF}
<br>


</div>
</body>
</html>

